{% extends 'inicio.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Uniformes</title>
</head>
<body>
    <h1>Agregar Uniformes</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% if form.instance.pk %}Actualizar{% else %}Guardar{% endif %}</button>
    </form>

    <p><a href="{% url 'ver_uniformes' %}">Volver a la lista de tallas</a></p>
</body>
</html>
{% endblock %}